// Colors
$white: #fff
$black: #000
$blue-black: #26255F
$purple: #760EBA
$blue: #1BA4D8
$blue-dark: #46B3DC
$blue-light: #6FC1DF
$blue-lighter: #97CEE3
$blue-lightest: #FEBB08
$red: #DC5224
$red-dark: #DE704B
$red-light: #E19075
$red-lighter: #E3AA9C
$grey-lightest: #807AAB


//Scrollbar//

::-webkit-scrollbar
    width: 5px
    height: 8px
    background-color: #26255F

::-webkit-scrollbar-thumb 
    background-color: $grey-lightest
    border-radius: 9em


::-webkit-scrollbar-thumb:hover
    background-color: #760EBA



//preloader//
.preloader
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 99999
    background-color: $blue-black
    &::before
        content: ''
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%) 
        width: 300px
        height: 300px
        z-index: 99999
        background-image: url("../img/preloader.gif")
        background-repeat: no-repeat
        background-size: cover
        @media (max-width: 550px)
            width: 200px
            height: 200px

.loaded_hiding .preloader
    transition: 0.3s opacity
    opacity: 0

.loaded .preloader
    display: none

// Title

.content__text
    position: absolute
    bottom: 6vmax
    left: 0
    transform: translateX(10%)
    z-index: 1000
    line-height: 0.8
    width: 100%
    transition: .4s all ease-in-out
.js .ioapi .content__text
    position: fixed !important
    opacity: 0
    white-space: pre


.title
    line-height: 0.8 !important
    &::after
            content: ''
            background-size: cover
            position: absolute
            left: 0
            width: 10%
            height: 100%
            transform: rotate(180deg) translateX(110%)
            animation: blink_title 1s infinite
    &::before
            content: ''
            position: absolute
            mix-blend-mode: lighten
            filter: blur(28px)
            transform: matrix(1, 0, 0, -1, 0, 0)
            width: 15%
            height: 105%
            left: 0
            top: 0
            transform: rotate(180deg) translateX(110%)
            animation: blink_title 1s infinite
    &-orange
        &::after
            background-image: url('../img/mat/1.svg')
        &::before
            background-image: linear-gradient(197.51deg, rgba(255, 87, 16, 0.6) 5.06%, rgba(255, 0, 55, 0.6) 97.99%)
    &-yellow
        &::after
            background-image: url('../img/mat/2.svg')
        &::before
            background-image: linear-gradient(241.28deg, rgba(255, 163, 97, 0.6) 3.79%, rgba(253, 34, 34, 0.6) 98.33%)
    &-blue
        &::after
            background-image: url('../img/mat/3.svg')
        &::before
            background-image: linear-gradient(231.13deg, rgba(0, 115, 255, 0.6) 3.78%, rgba(187, 109, 245, 0.6) 95.41%)
circle.Pin-front
    position: relative
    z-index: 2
//Rocket    
#rocket 
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    img
        position: absolute
        left: 0
        top: 0
        @media (max-width: 550px)
            left: 50%
            transform: translate(-50%, 0%)
//keyframes 
@keyframes blink_title
    0%
        opacity: 1
    50%
        opacity: 0.5
    100%
        opacity: 1

/* @keyframes wave
 0%
 transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg)
 100%
 transform: rotateZ(30deg) translate3d(0,10%,0) rotateZ(-30deg) */

@keyframes wave
    0%
        transform: translateX(50px)

    50%
        transform:  translateX(-50px)
    to
        transform: translateX(50px)

// Text

.h1
    font-weight: 700
    font-size: 66px
    line-height: 70px

.h2
    font-weight: 700
    font-size: 60px
    line-height: 60px

.h3
    font-weight: 700
    font-size: 44px
    line-height: 60px
    &-semi
        font-weight: 600
        font-size: 20px
        line-height: 20px
.h4
    font-weight: 400
    font-size: 20px
    line-height: 27px
.body
    &-1
        font-weight: 400
        font-size: 16px
        line-height: 22px
    &-2
        font-weight: 400
        font-size: 14px
        line-height: 16px
    &-3
        font-weight: 400
        font-size: 12px
        line-height: 15px
@media (max-width: 1200px)
    .h1
        font-size: 64px
        line-height: 80px
    .h2
        font-size: 54px
        line-height: 80px

    .h3
        font-size: 44px
        line-height: 50px
    .h5
        font-weight: 400
        font-size: 28px
        line-height: 34px
    .body
        &-3
            font-size: 16px
            line-height: 19px
        &-4
            font-weight: 400
            font-size: 14px
            line-height: 17px
@media (max-width: 992px)
    .h3
        font-weight: 600
        font-size: 30px
        line-height: 30px
@media (max-width: 768px)
    .h3
        font-weight: 400
        font-size: 30px
        line-height: 37px
    .h4
        font-size: 28px
        line-height: 34px
@media (max-width: 320px)
    .h1
        font-size: 44px
        line-height: 50px

    .h2
        font-weight: 600
        font-size: 28px
        line-height: 30px

    .h3
        font-size: 28px
        line-height: 34px

    .h5
        font-weight: 600
        font-size: 20px
        line-height: 20px
    .body
        &-1
            font-size: 18px
            line-height: 22px
        &-2
            font-size: 16px
            line-height: 19px
        &-3
            font-size: 14px
            line-height: 17px
