@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/proximanova_light.otf") format("truetype");
}

@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/proximanova_regular.ttf") format("truetype");
}

@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Proxima Nova Bold.otf") format("truetype");
}

@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Proxima Nova Semibold.otf") format("truetype");
}

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #26255F;
}

::-webkit-scrollbar-thumb {
    background-color: #807AAB;
    border-radius: 9em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #760EBA;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #26255F;
}

.preloader::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    z-index: 99999;
    background-image: url("../img/preloader.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    background: -webkit-gradient(linear, left top, left bottom, from(#471E8C), to(rgba(38, 41, 98, 0)));
    background: linear-gradient(180deg, #471E8C 0%, rgba(38, 41, 98, 0) 100%);
    max-height: 300px;
}

.footer__wrapper {
    padding: 47px 0;
}

.footer__wrapper_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__wrapper_bottom {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #807AAB;
    max-width: 322px;
    width: 100%;
    margin-top: -38px;
}

.footer-logo {
    width: 100%;
    max-width: 130px;
    height: auto !important;
    max-height: 27px;
    margin-top: -100px;
}

.footer-logo img {
    width: 100%;
    max-width: 130px;
    height: auto !important;
    max-height: 27px;
}

.footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    max-width: 613px;
}

.footer__nav-link {
    color: #fff;
}

.footer__nav-link.active {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}

.footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__contacts-title {
    color: #807AAB;
    margin-bottom: 16px;
}

.footer__contacts-tel {
    color: #fff;
    margin-bottom: 15px;
}

.footer__contacts-tel:last-of-type {
    margin-bottom: 20px;
}

.footer__contacts_socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 10px;
}

@media (max-width: 992px) {
    .header-btn p {
        font-size: 12px;
        line-height: 18px;
    }
    .title {
        font-size: 54px;
        line-height: 80px;
    }
    .vantage__wrapper {
        padding-bottom: 104px;
    }
    .vantage__item img {
        max-width: 140px;
    }
    .vantage__item-title {
        margin-bottom: 20px;
    }
    .origami__text p {
        font-size: 18px;
        line-height: 18px;
    }
    .origami__text p strong {
        font-size: 22px;
        line-height: 26px;
    }
    .partners__wrapper {
        grid-gap: 30px 100px;
    }
    .footer .body-2 {
        font-size: 16px;
        line-height: 19px;
    }
    .footer__nav {
        max-width: 400px;
    }
    .footer__wrapper_bottom {
        margin-top: 0;
    }
}

@media (max-width: 550px) {
    .footer__nav {
        display: none;
    }
    .footer-logo {
        max-height: 25px;
        height: 100%;
    }
    .footer__wrapper {
        max-height: 320px;
        height: auto;
        -ms-flex-wrap: inherit;
        flex-wrap: inherit;
    }
    .footer__wrapper_top {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        max-height: 366px;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .footer__wrapper_bottom {
        margin-top: 30px;
        max-width: 100%;
    }
    .footer__contacts {
        margin-top: 0;
    }
    .footer__contacts-title {
        display: none;
    }
}


/*# sourceMappingURL=main.css.map */