@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/proximanova_light.otf") format("truetype");
}

@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/proximanova_regular.ttf") format("truetype");
}

@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Proxima Nova Bold.otf") format("truetype");
}

@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Proxima Nova Semibold.otf") format("truetype");
}

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #26255F;
}

::-webkit-scrollbar-thumb {
    background-color: #807AAB;
    border-radius: 9em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #760EBA;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #26255F;
}

.preloader::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    z-index: 99999;
    background-image: url("../img/preloader.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 550px) {
    .preloader::before {
        width: 200px;
        height: 200px;
    }
}

.loaded_hiding .preloader {
    -webkit-transition: 0.3s opacity;
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

.content__text {
    position: absolute;
    bottom: 6vmax;
    left: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
    z-index: 1000;
    line-height: 0.8;
    width: 100%;
    -webkit-transition: .4s all ease-in-out;
    transition: .4s all ease-in-out;
}

.js .ioapi .content__text {
    position: fixed !important;
    opacity: 0;
    white-space: pre;
}

.title {
    line-height: 0.8 !important;
}

.title::after {
    content: '';
    background-size: cover;
    position: absolute;
    left: 0;
    width: 10%;
    height: 100%;
    -webkit-transform: rotate(180deg) translateX(110%);
    transform: rotate(180deg) translateX(110%);
    -webkit-animation: blink_title 1s infinite;
    animation: blink_title 1s infinite;
}

.title::before {
    content: '';
    position: absolute;
    mix-blend-mode: lighten;
    -webkit-filter: blur(28px);
    filter: blur(28px);
    -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
    transform: matrix(1, 0, 0, -1, 0, 0);
    width: 15%;
    height: 105%;
    left: 0;
    top: 0;
    -webkit-transform: rotate(180deg) translateX(110%);
    transform: rotate(180deg) translateX(110%);
    -webkit-animation: blink_title 1s infinite;
    animation: blink_title 1s infinite;
}

.title-orange::after {
    background-image: url("../img/mat/1.svg");
}

.title-orange::before {
    background-image: linear-gradient(197.51deg, rgba(255, 87, 16, 0.6) 5.06%, rgba(255, 0, 55, 0.6) 97.99%);
}

.title-yellow::after {
    background-image: url("../img/mat/2.svg");
}

.title-yellow::before {
    background-image: linear-gradient(241.28deg, rgba(255, 163, 97, 0.6) 3.79%, rgba(253, 34, 34, 0.6) 98.33%);
}

.title-blue::after {
    background-image: url("../img/mat/3.svg");
}

.title-blue::before {
    background-image: linear-gradient(231.13deg, rgba(0, 115, 255, 0.6) 3.78%, rgba(187, 109, 245, 0.6) 95.41%);
}

circle.Pin-front {
    position: relative;
    z-index: 2;
}

#rocket {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#rocket img {
    position: absolute;
    left: 0;
    top: 0;
}

@media (max-width: 550px) {
    #rocket img {
        left: 50%;
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
    }
}

@-webkit-keyframes blink_title {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink_title {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}


/* @keyframes wave
 0%
 transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg)
 100%
 transform: rotateZ(30deg) translate3d(0,10%,0) rotateZ(-30deg) */

@-webkit-keyframes wave {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
    }
    50% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
    }
    to {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
    }
}

@keyframes wave {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
    }
    50% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
    }
    to {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
    }
}

.h1 {
    font-weight: 700;
    font-size: 76px;
    line-height: 100px;
}

.h2 {
    font-weight: 700;
    font-size: 70px;
    line-height: 70px;
}

.h3 {
    font-weight: 700;
    font-size: 54px;
    line-height: 80px;
}

.h3-semi {
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
}

.h4 {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
}

.body-1 {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}

.body-2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.body-3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media (max-width: 1200px) {
    .h1 {
        font-size: 64px;
        line-height: 80px;
    }
    .h2 {
        font-size: 54px;
        line-height: 80px;
    }
    .h3 {
        font-size: 44px;
        line-height: 50px;
    }
    .h5 {
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
    }
    .body-3 {
        font-size: 16px;
        line-height: 19px;
    }
    .body-4 {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
}

@media (max-width: 992px) {
    .h3 {
        font-weight: 600;
        font-size: 30px;
        line-height: 30px;
    }
}

@media (max-width: 768px) {
    .h3 {
        font-weight: 400;
        font-size: 30px;
        line-height: 37px;
    }
    .h4 {
        font-size: 28px;
        line-height: 34px;
    }
}

@media (max-width: 320px) {
    .h1 {
        font-size: 44px;
        line-height: 50px;
    }
    .h2 {
        font-weight: 600;
        font-size: 28px;
        line-height: 30px;
    }
    .h3 {
        font-size: 28px;
        line-height: 34px;
    }
    .h5 {
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
    }
    .body-1 {
        font-size: 18px;
        line-height: 22px;
    }
    .body-2 {
        font-size: 16px;
        line-height: 19px;
    }
    .body-3 {
        font-size: 14px;
        line-height: 17px;
    }
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.conatiner-small,
.container-sm {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container-sm,
    .container {
        max-width: 660px;
    }
}

@media (min-width: 768px) {
    .container-md,
    .container-sm,
    .container {
        max-width: 911px;
    }
}

@media (min-width: 992px) {
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1080px;
    }
    .conatiner-small {
        max-width: 928px !important;
    }
}

@media (min-width: 1400px) {
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1240px;
    }
}

@media (min-width: 1600px) {
    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1420px;
    }
}

::-moz-selection {
    color: #1ba4d8;
    background-color: #8B00CD;
}

::selection {
    color: #1ba4d8;
    background-color: #8c00cd40;
}

body {
    font-family: 'Proxima Nova';
    font-weight: 400;
    color: #fff;
    background: #26255F;
    padding-top: 110px;
}

@media (max-width: 550px) {
    body {
        padding-top: 70px;
    }
}

body.scroll_disabled {
    overflow-y: hidden;
}

main.zindex {
    z-index: -1;
    position: relative;
}

.mfp-bg {
    background: rgba(38, 37, 95, 0.4);
}

.mfp-bg::before {
    content: '';
    margin: -35px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    z-index: -1;
}

.callback {
    background: linear-gradient(121.06deg, #421F81 0%, #2A2564 100.68%);
    border-radius: 20px;
    width: 100%;
    max-width: 620px;
    position: relative;
    padding: 40px;
    margin: auto;
}

.callback::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(231.13deg, rgba(0, 115, 255, 0.6) 3.78%, rgba(187, 109, 245, 0.6) 95.41%);
    mix-blend-mode: lighten;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    border-radius: 20px;
    z-index: -1;
}

.callback-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 50px;
    width: 100%;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.callback-subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #fff;
    margin-bottom: 54px;
    text-align: center;
}

.callback__form {
    position: relative;
    z-index: 1;
}

.callback__form__input {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.callback__form__input:last-of-type {
    margin-bottom: 48px;
}

.callback__form__input label {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #807AAB;
    margin-bottom: 18px;
}

.callback__form__input input {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    padding-bottom: 9px;
    border-bottom: 1px solid #807AAB;
    background: none;
}

.callback__form__input input::-webkit-input-placeholder {
    color: #fff;
}

.callback__form__input input:-ms-input-placeholder {
    color: #fff;
}

.callback__form__input input::-ms-input-placeholder {
    color: #fff;
}

.callback__form__input input::placeholder {
    color: #fff;
}

.callback__form__input input:focus {
    border-bottom: 1px solid #fff;
}

.callback__form__input input:focus::-webkit-input-placeholder {
    color: #807AAB;
}

.callback__form__input input:focus:-ms-input-placeholder {
    color: #807AAB;
}

.callback__form__input input:focus::-ms-input-placeholder {
    color: #807AAB;
}

.callback__form__input input:focus::placeholder {
    color: #807AAB;
}

.callback__form__submit {
    margin: 0 auto;
    max-width: 197px;
    height: 49px;
    cursor: pointer;
}

.callback button.mfp-close {
    top: 30px;
    right: 60px;
    font-size: 0;
}

.callback button.mfp-close::after {
    content: '';
    background: no-repeat url("data:image/svg+xml,%3Csvg width='26' height='25' viewBox='0 0 26 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1' y1='-1' x2='32.9412' y2='-1' transform='matrix(0.707119 0.707095 -0.707119 0.707095 1.00008 1)' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cline x1='1' y1='-1' x2='32.9412' y2='-1' transform='matrix(-0.707107 0.707107 0.707107 0.707107 25.0001 1)' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    width: 26px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
}

.Btn {
    width: 100%;
    max-width: 215px;
    height: 49px;
    position: relative;
    background: linear-gradient(87.73deg, #FEBB08 -27.23%, #FCEBD1 141.45%);
    mix-blend-mode: normal;
    -webkit-box-shadow: 0px 3.27604px 3.27604px rgba(0, 0, 0, 0.05), 3.27604px 0px 3.27604px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 3.27604px 3.27604px rgba(0, 0, 0, 0.05), 3.27604px 0px 3.27604px rgba(0, 0, 0, 0.06);
    border-radius: 81.901px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.Btn p {
    font-weight: 600;
    font-size: 24.5703px;
    line-height: 25px;
    color: #26255F;
    -webkit-transition: .4s all;
    transition: .4s all;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 81.901px;
    z-index: 2;
}

.Btn::after {
    content: '';
    position: absolute;
    background: linear-gradient(87.3deg, #CE9600 5.07%, #DDA40C 103.66%);
    mix-blend-mode: normal;
    border-radius: 81.901px;
    width: 100%;
    height: 100%;
    bottom: -3.27px;
    left: 0;
    right: 0;
    z-index: -1;
    -webkit-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.Btn::before {
    content: '';
    position: absolute;
    background: linear-gradient(241.28deg, rgba(255, 163, 97, 0.6) 3.79%, rgba(253, 34, 34, 0.6) 98.33%);
    mix-blend-mode: normal;
    -webkit-filter: blur(13.1042px);
    filter: blur(13.1042px);
    border-radius: 81.901px;
    width: 100%;
    height: 100%;
    bottom: -7.27px;
    left: 0;
    right: 0;
    -webkit-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    z-index: -1;
    opacity: 0;
}

.Btn:active {
    -webkit-box-shadow: 0px 3.27604px 3.27604px rgba(0, 0, 0, 0.05), 3.27604px 0px 3.27604px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 3.27604px 3.27604px rgba(0, 0, 0, 0.05), 3.27604px 0px 3.27604px rgba(0, 0, 0, 0.06);
}

.Btn:active::after {
    opacity: 0;
}

.Btn:hover::before {
    opacity: 1;
}

.hamburger-menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 999;
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgba(38, 37, 95, 0.4);
}

.hamburger-menu::before {
    content: '';
    margin: -35px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    z-index: -1;
}

.hamburger-menu_top {
    text-align: right;
}

.hamburger-menu_wrapper {
    width: 100%;
    max-width: 203px;
    height: 100vh;
    background: linear-gradient(121.06deg, #421F81 0%, #2A2564 100.68%);
    margin-left: auto;
    padding: 20px;
    position: relative;
}

.hamburger-menu_wrapper::before {
    content: '';
    background: linear-gradient(231.13deg, rgba(0, 115, 255, 0.6) 3.78%, rgba(187, 109, 245, 0.6) 95.41%);
    mix-blend-mode: lighten;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    width: 110%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.hamburger-menu__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 100%;
    margin: auto;
    padding-bottom: 20px;
}

.hamburger-menu__nav {
    height: 60%;
}

.hamburger-menu__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

.hamburger-menu__nav a {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    width: 100%;
    position: relative;
}

.hamburger-menu__nav a.active {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.hamburger-menu__nav a.active::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 39.5px;
    width: 8px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(-68.75%, #FFFFFF), color-stop(175%, #53D0FF));
    background: linear-gradient(0deg, #FFFFFF -68.75%, #53D0FF 175%);
    border-radius: 6px 6px 0px 6px;
    -webkit-transform: translate(80px, -10%);
    transform: translate(80px, -10%);
}

.hamburger-menu__nav a.active::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 10px;
    border-radius: 6px 6px 0px 6px;
    -webkit-transform: translate(80px, -10%);
    transform: translate(80px, -10%);
    background: #00B9FF;
    mix-blend-mode: lighten;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.overflow {
    overflow: hidden;
}

.header {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1901 110' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_273_75701)'%3E%3Cellipse cx='1676.83' cy='117.051' rx='514.188' ry='64.9233' transform='rotate(10.6625 1676.83 117.051)' fill='%238B00CD' fill-opacity='0.5'/%3E%3C/g%3E%3Cg filter='url(%23filter1_f_273_75701)'%3E%3Cellipse cx='1106.28' cy='-1.06069' rx='514.188' ry='64.9233' transform='rotate(10.6625 1106.28 -1.06069)' fill='%231BA4D8' fill-opacity='0.5'/%3E%3C/g%3E%3Cg filter='url(%23filter2_f_273_75701)'%3E%3Cellipse cx='1251.51' cy='103.039' rx='514.188' ry='64.9233' transform='rotate(10.6625 1251.51 103.039)' fill='%238B00CD' fill-opacity='0.5'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_273_75701' x='571.37' y='-597.512' width='2210.91' height='1429.12' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='300' result='effect1_foregroundBlur_273_75701'/%3E%3C/filter%3E%3Cfilter id='filter1_f_273_75701' x='0.823242' y='-715.623' width='2210.91' height='1429.12' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='300' result='effect1_foregroundBlur_273_75701'/%3E%3C/filter%3E%3Cfilter id='filter2_f_273_75701' x='146.055' y='-611.523' width='2210.91' height='1429.12' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='300' result='effect1_foregroundBlur_273_75701'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    width: 100%;
    background-size: cover;
    max-height: 110px;
    height: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

.header.header_fixed {
    background: linear-gradient(90.74deg, rgba(44, 40, 103, 0.2) 8.79%, rgba(41, 38, 99, 0.2) 101.9%);
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.header.header_fixed::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: #2e2267;
    bottom: 0;
    left: 0;
    -webkit-filter: blur(100px);
    filter: blur(100px);
    z-index: -1;
}

.header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 35px 0;
}

.header-btn {
    width: 158px;
    height: 47px;
}

.header-btn p {
    font-weight: 600;
    font-size: 20.7991px;
    line-height: 21px;
}

.header__menu {
    position: relative;
    max-width: 613px;
    z-index: 4;
    width: 100%;
}

.header__menu ul {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header__menu_mobile {
    display: none;
}

.header__menu .slide2 {
    position: absolute;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(-68.75%, #FFFFFF), color-stop(175%, #53d1ff6d));
    background: linear-gradient(0deg, #FFFFFF -68.75%, #53d1ff6d 175%);
    border-radius: 0px 0px 6px 6px;
    top: -45px;
    height: 8px;
    pointer-events: none;
    opacity: 0;
    z-index: 5;
    -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
}

.header__menu .squeeze {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.header__menu a {
    color: #fff;
    position: relative;
}

.header__menu a.active {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}

.header__menu a.active::after {
    content: '';
    background: -webkit-gradient(linear, left bottom, left top, color-stop(-68.75%, #FFFFFF), color-stop(175%, #53D0FF));
    background: linear-gradient(0deg, #FFFFFF -68.75%, #53D0FF 175%);
    border-radius: 0px 0px 6px 6px;
    position: absolute;
    top: 0;
    left: 50%;
    width: 106px;
    height: 8px;
    pointer-events: none;
    -webkit-transform: translate(-50%, calc(-101% - 35px));
    transform: translate(-50%, calc(-101% - 35px));
}